*.class

# Package Files #
*.jar
*.war
*.ear
BBFilter/deliverables/Standard/5.0.0/BBFilter-1.debug
BBFilter/deliverables/Standard/5.0.0/BBFilter-2.debug
BBFilter/deliverables/Standard/5.0.0/BBFilter.cod
BBFilter/deliverables/Standard/5.0.0/BBFilter.debug
BBFilter/deliverables/Standard/5.0.0/BBFilter.jad
BBFilter/deliverables/Standard/5.0.0/BBFilterOS.cod
BBFilter/deliverables/Standard/5.0.0/BBFilterOS.debug
BBFilter/deliverables/Standard/5.0.0/BBFilterOS.jad
BBFilter/deliverables/Standard/5.0.0/BBFilter_full.jad
BBFilter/deliverables/Standard/5.0.0/DabinciBBUI.cod
BBFilter/deliverables/Standard/5.0.0/DabinciBBUI.debug
BBFilter/deliverables/Standard/5.0.0/DabinciBBUI.export.xml
BBFilter/deliverables/Standard/5.0.0/DabinciBBUI.jad
BBFilter/deliverables/Standard/5.0.0/DabinciBBUtils.cod
BBFilter/deliverables/Standard/5.0.0/DabinciBBUtils.debug
BBFilter/deliverables/Standard/5.0.0/DabinciBBUtils.jad
BBFilter/deliverables/Standard/6.0.0/BBFilterOS6.cod
BBFilter/deliverables/Standard/6.0.0/BBFilterOS6.debug
BBFilter/deliverables/Standard/6.0.0/BBFilterOS6.jad
BBFilter/deliverables/Standard/6.0.0/BBFilterOS6_full.jad
BBFilter/deliverables/Web/5.0.0/BBFilter-1.cod
BBFilter/deliverables/Web/5.0.0/BBFilter-1.debug
BBFilter/deliverables/Web/5.0.0/BBFilter-2.cod
BBFilter/deliverables/Web/5.0.0/BBFilter-2.debug
BBFilter/deliverables/Web/5.0.0/BBFilter.cod
BBFilter/deliverables/Web/5.0.0/BBFilter.debug
BBFilter/deliverables/Web/5.0.0/BBFilter.jad
BBFilter/deliverables/Web/5.0.0/BBFilterOS.cod
BBFilter/deliverables/Web/5.0.0/BBFilterOS.debug
BBFilter/deliverables/Web/5.0.0/BBFilterOS.jad
BBFilter/deliverables/Web/5.0.0/BBFilter_full.jad
BBFilter/deliverables/Web/5.0.0/DabinciBBUI.cod
BBFilter/deliverables/Web/5.0.0/DabinciBBUI.debug
BBFilter/deliverables/Web/5.0.0/DabinciBBUI.export.xml
BBFilter/deliverables/Web/5.0.0/DabinciBBUI.jad
BBFilter/deliverables/Web/5.0.0/DabinciBBUtils.cod
BBFilter/deliverables/Web/5.0.0/DabinciBBUtils.debug
BBFilter/deliverables/Web/5.0.0/DabinciBBUtils.jad
BBFilter/deliverables/Web/6.0.0/BBFilterOS6.cod
BBFilter/deliverables/Web/6.0.0/BBFilterOS6.debug
BBFilter/deliverables/Web/6.0.0/BBFilterOS6.jad
BBFilter/deliverables/Web/6.0.0/BBFilterOS6_full.jad
BBFilterOS/deliverables/Standard/5.0.0/BBFilterOS.cod
BBFilterOS/deliverables/Standard/5.0.0/BBFilterOS.debug
BBFilterOS/deliverables/Standard/5.0.0/BBFilterOS.jad
BBFilterOS/deliverables/Web/5.0.0/BBFilterOS.cod
BBFilterOS/deliverables/Web/5.0.0/BBFilterOS.debug
BBFilterOS/deliverables/Web/5.0.0/BBFilterOS.jad
BBFilterOS6/deliverables/Standard/5.0.0/BBFilterOS.cod
BBFilterOS6/deliverables/Standard/5.0.0/BBFilterOS.debug
BBFilterOS6/deliverables/Standard/5.0.0/BBFilterOS.jad
BBFilterOS6/deliverables/Standard/6.0.0/BBFilterOS6.cod
BBFilterOS6/deliverables/Standard/6.0.0/BBFilterOS6.debug
BBFilterOS6/deliverables/Standard/6.0.0/BBFilterOS6.jad
BBFilterOS6/deliverables/Standard/6.0.0/BBFilterOS6_full.jad
BBFilterOS6/deliverables/Web/5.0.0/BBFilterOS.cod
BBFilterOS6/deliverables/Web/5.0.0/BBFilterOS.debug
BBFilterOS6/deliverables/Web/5.0.0/BBFilterOS.jad
BBFilterOS6/deliverables/Web/6.0.0/BBFilterOS6.cod
BBFilterOS6/deliverables/Web/6.0.0/BBFilterOS6.debug
BBFilterOS6/deliverables/Web/6.0.0/BBFilterOS6.jad
BBFilterOS6/deliverables/Web/6.0.0/BBFilterOS6_full.jad
DabinciBBUI/deliverables/Standard/5.0.0/DabinciBBUI.cod
DabinciBBUI/deliverables/Standard/5.0.0/DabinciBBUI.debug
DabinciBBUI/deliverables/Standard/5.0.0/DabinciBBUI.export.xml
DabinciBBUI/deliverables/Standard/5.0.0/DabinciBBUI.jad
DabinciBBUI/deliverables/Web/5.0.0/DabinciBBUI.cod
DabinciBBUI/deliverables/Web/5.0.0/DabinciBBUI.debug
DabinciBBUI/deliverables/Web/5.0.0/DabinciBBUI.export.xml
DabinciBBUI/deliverables/Web/5.0.0/DabinciBBUI.jad
DabinciBBUtils/deliverables/Standard/5.0.0/DabinciBBUtils.cod
DabinciBBUtils/deliverables/Standard/5.0.0/DabinciBBUtils.debug
DabinciBBUtils/deliverables/Standard/5.0.0/DabinciBBUtils.jad
DabinciBBUtils/deliverables/Web/5.0.0/DabinciBBUtils.cod
DabinciBBUtils/deliverables/Web/5.0.0/DabinciBBUtils.debug
DabinciBBUtils/deliverables/Web/5.0.0/DabinciBBUtils.jad
DabinciBBUtils/deliverables/Standard/5.0.0/DabinciBBUtils.export.xml
DabinciBBUtils/deliverables/Web/5.0.0/DabinciBBUtils.export.xml
BBFilter/deliverables/Standard/5.0.0/DabinciBBUtils.export.xml
BBFilter/deliverables/Web/5.0.0/DabinciBBUtils.export.xml
